<a class="{{ buttonClasses }}" href="{{ path('app.homepage') }}">Home</a>
<a class="{{ buttonClasses }}" href="{{ path('app.portfolio') }}">Portfolio</a>
{#<a class="item">Company</a>#}
{#<a class="item">Careers</a>#}
<div class="{{ buttonClasses }}">
    <a class="{{ logInClasses }}">Log in</a>
</div>
<div class="{{ buttonClasses }}">
    <a class="{{ signInClasses }}">Sign Up</a>
</div>